<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <p class="box">{{.msg}}</p>
    <!-- <br> -->
    <p class="box">Bubble sort execution time {{.bubble_sort_time}}</p>
    <p class="box">{{.data}}</p>
    <p class="box">Insertion sort  execution time {{.insertion_sort_time}}</p>
</body>
</html>