<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body>


   <div class="p-[50px] bg-indigo-500 m-[40px]">
    <form action="" method="post">
        <label  for="number">Enter your number :</label>
        <input type="number" id="number" name="number">
        <br>
        <br>
    <button class="bg-slate-400 p-2 ra">Run</button>
        
    </form>
        <br>

   </div>
    <!-- {{if .data2 }}{{.data2}} {{end}} -->

    {{if .msg }}
    <div class="p-[50px] m-10 bg-indigo-500">
    {{if .bubble_sort_time }} <p >Bubble sort execution time {{.bubble_sort_time}}</p> {{end}}

    <!-- <p >{{.msg}}</p> -->
    <!-- <br> -->
    {{if .data }}    <p >{{.data}}</p> {{end}}

    {{if .insertion_sort_time }}    <p >Insertion sort  execution time {{.insertion_sort_time}}</p> {{end}}

    {{if .merge_sort_time }}    <p >Merge sort  execution time {{.merge_sort_time}}</p> {{end}}

    <!-- <p >{{.data}}</p> -->
    <!-- <p >Insertion sort  execution time {{.insertion_sort_time}}</p> -->
</div> 
{{end}}
</body>
</html>